
body{
	background: rgb(84,54,103);
	background: linear-gradient(183deg, rgba(84,54,103,1) 16%, rgba(187,108,158,1) 72%, rgba(255,199,120,1) 100%);
}

.container{
	padding: 15px;
}
.wrapper{
	padding: 200px;
	width: 100%;
	height: 1000px;
	display: flex;
	position: relative;
}
.star{
	width: 10px;
	height: 10px;
	background-color: rgb(241, 194, 133);
	border-radius: 50%;
	box-shadow: -1px -1px 10px 8px rgb(241, 194, 133);
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/* ====================STARS==================== */

.first{
	animation: move-first 30s infinite alternate-reverse;
	animation-timing-function: linear;
}

.seckond{
	animation: move-second 30s infinite, color 10s infinite;
	animation-timing-function: linear;
	top: 186px;
	left: 201px;
	offset-path: path("M43.5 229.5C150.167 333.833 450.9 520.9 800.5 434.5C1150.1 348.1 1046.83 168.167 951.5 89C892.167 41.1667 724.2 -38.7 527 24.5C329.8 87.7 317.833 229.5 336.5 292.5C356.833 346.333 441.4 427.4 617 321C792.6 214.6 441.833 79 244.5 24.5C121.833 9.49999 -90.1 29.5 43.5 229.5Z");
}


.third{
	animation: move-third 15s infinite alternate-reverse, color-2 5s infinite;
	animation-timing-function: linear;
	offset-path: path("M1 90C15 62.6667 60.2 6.59999 129 0.999991C197.8 -4.60001 261 63.3333 284 98C295.667 131 324 202.6 344 225C369 253 459 280 502 225C536.4 181 521 134.667 509 117C504.667 101.667 480.8 70.8 420 70C359.2 69.2 246 94.3333 197 107");
}

.fourth{
	animation: move-fourth 15s infinite alternate-reverse, color 3s infinite;
	animation-timing-function: linear;
	top: 139px;
	left: 530px;
	offset-path: path("M293 233.5C348.333 242.667 462.9 239 478.5 151C494.1 63 426.333 14.6667 390.5 1.5L196 95C168.8 139.8 120 171.333 99 181.5C61.3333 190.833 -10.8 191.6 2 120C14.8 48.4 90 48.1667 126 57C157.167 84.6667 219.5 158.7 219.5 233.5C219.5 308.3 157.167 333 126 336C106.333 332.167 70.2 317.4 83 289C95.8 260.6 145.667 240.167 169 233.5H293Z");
}

.fifth{
	animation: move-fifth 20s infinite;
	animation-timing-function: linear;
	top: 211px;
	left: 530px;
	offset-path: path("M572 280C614 311.667 714.9 356 782.5 280C850.1 204 827.333 120.333 807.5 88C769.167 44.3333 664.1 -31.2 550.5 16C436.9 63.2 353.5 177 326 228C304.5 289.667 239.5 403.7 151.5 366.5C63.5 329.3 22.5 264.667 13 237C0.999997 210.667 -12.2 150.1 31 118.5C74.2 86.9 165.333 178.333 205.5 228C212.833 243.167 228.5 282.8 232.5 320C236.5 357.2 278.5 396.5 299 411.5C338.5 421 424.7 430.7 453.5 393.5C482.3 356.3 544.5 302.333 572 280Z");
}

.sixth{
	animation: move-sixth 35s infinite, color 5s infinite;
	animation-timing-function: linear;
	top: 164px;
	left: 808px;
	offset-path: path("M204.5 283C217.5 227 220.9 168.9 294.5 180.5C386.5 195 408 209.5 451 256C485.4 293.2 454.667 385.5 435 427C399 473 286.7 544.9 125.5 464.5C-35.7 384.1 -6.33333 193.667 28.5 108.5C90.8333 27.6667 235.3 -85.5 314.5 108.5C393.7 302.5 377.5 387 276.5 427C204.5 389 188.25 353 204.5 283Z");
}

.seventh{
	animation: move-seventh 25s infinite, color 10s infinite;
	animation-timing-function: linear;
	top: 97px;
	left: 768px;
	offset-path: path("M609.5 69C575.1 -21.4 482 43.3813 298.5 3.99999C262 -3.83334 192.5 -1.8 206.5 69C220.5 139.8 291.667 139.167 325.5 130C371 130.667 444.8 152.5 376 234.5C307.2 316.5 240.333 257.667 215.5 218C197 158.667 148.5 35.7 102.5 18.5C56.5 1.3 27 37.6667 18 58C-4.83334 92.8333 -23.2 189.8 86 299C195.2 408.2 409.833 358.833 503.5 320.5C553.167 274.333 643.9 159.4 609.5 69Z");
}


.eighth{
	animation: move-eighth 30s infinite, color-2 10s infinite;
	animation-timing-function: linear;
  top: 90px;
  left: 733px;
	offset-path: path("M726.5 168.5C706.5 258.833 628.8 438.8 478 436C327.2 433.2 163.5 399.167 100.5 382.5C57.3333 360.833 -21.8 298.8 6.99998 224C43 130.5 101 42 223 4.5C320.6 -25.5 398 138.333 424.5 224C428 286.333 410.2 398.8 311 350C211.8 301.2 227.667 232.667 248 204.5C265.5 150.5 325.3 44.3 424.5 51.5C523.7 58.7 550.833 169.5 552 224C553.667 261.833 567.1 324.2 607.5 271C647.9 217.8 658 124.167 658 84C673.667 32.5 709.3 -22.7 726.5 168.5Z");
}

.ninth{
	animation: move-ninth 30s infinite;
	animation-timing-function: linear;
  top: 8px;
  left: -31px;
	offset-path: path("M370 479.5V337.5C355.167 304 300.6 241.3 201 258.5C76.5 280 12 189 8.5 185C5 181 -34.5 -7.50001 105.5 10.5C245.5 28.5 318 149 316 149C314 149 418.5 270.5 557 172C667.8 93.2 592.167 31.5 540.5 10.5C500.167 -3.33334 405.2 -13 348 59C290.8 131 269.167 199.333 265.5 224.5C259.5 249 252.9 313.5 274.5 375.5C296.1 437.5 332.5 470.667 348 479.5C349.333 484.167 355.6 490.7 370 479.5Z");
}

/* ==================ANIMATIONS-MOVE==================== */

@keyframes move-first{
	0%{
		top: 77px;
		left: 56px;
	}
	30%{
		top: -40px;
    left: 250px;
	}
	40%{
    top: 0px;
    left: 415px;
	}
	70%{
		top: 211px;
    left: 873px;
	}
	90%{
		top: 400px;
    left: 1400px;
	}
	100%{
		top: 400px;
    left: 1200px;
	}
}

@keyframes move-second{
	0%{
		offset-distance: 0%;
	}
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-third{
	0%{
		offset-distance: 0%;
	}
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-fourth{
	0%{
		offset-distance: 0%;
	}
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-fifth{
	0%{
		offset-distance: 0%;
	}
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-sixth{
	0%{
		offset-distance: 0%;
	}
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-seventh{
	0%{
		offset-distance: 0%;
	}
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-eighth{
	100%{
		offset-distance: 100%;
	}
}

@keyframes move-ninth{
	100%{
		offset-distance: 100%;
	}
} 
/* ==================ANIMATIONS-COLORS==================== */

@keyframes color{
	0%{
		box-shadow: -1px -1px 10px 8px rgb(241, 194, 133);
	}
	50%{
		box-shadow: 0px -1px 16px 13px rgb(241, 194, 133);
	}
	60%{
		box-shadow:-1px -1px 14px 7px rgb(241, 194, 133);
		width: 2px;
		height: 2px;
	}
	70%{
		box-shadow: 0px -1px 16px 13px rgb(241, 194, 133);
		width: 5px;
		height: 5px;
	}
	100%{
		box-shadow: -1px -1px 10px 8px rgb(241, 194, 133);
	}
}

@keyframes color-2{
	0%{
		box-shadow: -1px -1px 10px 8px rgb(241, 194, 133);
	}
	50%{
		box-shadow: rgb(241, 194, 133) -1px -1px 19px 19px;
	}
	100%{
		box-shadow: -1px -1px 10px 8px rgb(241, 194, 133);
	}
}